<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imooc"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- android:launchMode="standard" 标准栈，先进后出-->
        <!-- android:launchMode="singleTask" 删除上方的activity顶部变成当前activity为止-->
        <!-- android:launchMode="singleTop" 顶部复用-->
        <!-- android:launchMode="singleInstance" 单独一个栈-->
        <!-- android:launchMode="singleInstancePerTask" -->
        <activity
            android:name=".legacy.LaunchModeActivity"
            android:exported="true"
            android:label="@string/launch_mode_title"
            android:theme="@style/Theme.withBar">

        </activity>
        <activity
            android:name=".legacy.DownloadActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
        <activity
            android:name=".legacy.ListViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
        <activity
            android:name=".legacy.CardViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
        <activity
            android:name=".legacy.SharePreferenceActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
        <activity
            android:name=".legacy.ExternalStorageActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
        <activity
            android:name=".legacy.SqliteActivity"
            android:exported="true"
            android:theme="@style/Theme.Imooc">

        </activity>
    </application>

</manifest>